{% extends "base.html" %}

{% block content %}

<h2>{{ titulo }}</h2>{{ usr }}
<hr />

<div class="row">
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-secondary" href="{% url 'tickets' %}" role="button">Agregar ticket</a>
    <a class="btn btn-secondary" href="#" role="button">Cambiar password</a>
    <a class="btn btn-secondary active" href="{% url 'mytickets' %}" role="button">Ver mis tickets</a>
    {% if request.user.is_staff%}
    <a class="btn btn-secondary" href="{% url 'register' %}" role="button">Agregar usuario</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'stadistics' %}" role="button">Estadísticas</a>
  </div>
</div>
<br />
<div class="row">
    <div class="col-lg-8">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                        </svg>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for dt in qry %}
                <tr>
                    <td>{{ dt.idTicket }}</td>
                    <td>{{ dt.timestamp }}</td>
                    <td>{{dt.idUsuario }}</td>
                    <td>{{ dt.idTipo }}</td>     
                    <td>                        
                      <a class="btn btn-primary" onclick="return abrir_modal('{% url 'detail' dt.pk %}');" href="{% url 'detail' dt.pk %}">                      
                        <span class="fa fa-plus-circle"></span> Detalles
                      </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Tipo</th>
                    <th>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                        </svg>
                    </th> 
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-lg-4">
        <!-- <div class="card" style="width: 22rem;"> -->
            <div class="card">
            <div class="card-header">
              Tipo de tickets
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <button type="button" class="btn">
                      Total de tickets <span class="badge badge-light">{{ total }}</span>
                  </button>                      
              </li>  
              <li class="list-group-item">
                <button type="button" class="btn">
                    Ambientación <span class="badge badge-light">{{ tAmb }}</span>
                </button>                      
              </li>
              <li class="list-group-item">
                <button type="button" class="btn">
                    Implementaciones <span class="badge badge-light">{{ tImp }}</span>
                </button> 
                  </li>
              <li class="list-group-item">
                <button type="button" class="btn">
                    Soporte telefónico <span class="badge badge-light">{{ tTel }}</span>
                </button>
                  </li>
              <li class="list-group-item">
                <button type="button" class="btn">
                    Soporte correo <span class="badge badge-light">{{ tSop }}</span>
                </button>
                  </li>
                  <li class="list-group-item">
                    <button type="button" class="btn">
                        Folios Datasec+ <span class="badge badge-light">{{ tDat }}</span>
                    </button>
                      </li>
            </ul>
          </div>
    </div>
</div>
<script>
/*
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
*/

function abrir_modal(url){
  $('#ventana_modal').load(url, function(){
    $(this).modal({
      backdrop: 'static',
      keyboard: false
    })
    
    $(this).modal('show');
  });

  return false;

}

function cerrar_modal(){

  $('#ventana_modal').modal('hide');
  
  return false;
}

</script>

{% endblock %}