{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Registrar usuario</h2>
<hr />

<div class="row">
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-secondary" href="{% url 'tickets' %}" role="button">Agregar ticket</a>
    <a class="btn btn-secondary" href="#" role="button">Cambiar password</a>
    <a class="btn btn-secondary" href="{% url 'mytickets' %}" role="button">Ver mis tickets</a>
    {% if request.user.is_staff%}
    <a class="btn btn-secondary active" href="{% url 'register' %}" role="button">Agregar usuario</a>
    {% endif %}
  </div>
</div>
<br />
<form method="POST">
    {{ form|crispy }}
    {% csrf_token %}
    <button class='btn btn-primary btn-block' type="submit">Registrar</button>
</form>

<hr />

{% endblock %}